server:
  port: 8089

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            # INVENTORY SERVICE
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/api/**
              
            # BOOKING SERVICE
            - id: booking-service
              uri: lb://booking-service
              predicates:
                - Path=/bookings/**
              
            # GAME CATALOG SERVICE
            - id: game-catalog
              uri: lb://game-catalog
              predicates:
                - Path=/games/**
              
            # USER SERVICE
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**

      # discovery:
      #   locator:
      #     enabled: true
      #     lower-case-service-id: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always